<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/header.css' />

</head>

<body>
    <% include ./top-nav.ejs %>
    <p style="display:none" id="openTime"><%= restaurant.restaurant_open_time %></p>
    <p style="display:none" id="closeTime"><%= restaurant.restaurant_close_time %></p>
    <p style="display:none" id="address"><%= restaurant.restaurant_addr %></p>

    <div class="dm-header container mt-5">
        <div class="row">
            <div class="col-lg-2 dm-header-logo-wrapper">
                <a href="#" class="">
                    <img class="dm-header-logo" src="/images/logo_slices/logo@2x.png">
                </a>
            </div>
            <div class="col-lg-8 dm-header-text-wrapper">
                <h1 class="dm-header-text">DISH MASTER</h1>
            </div>
            <div class="col-lg-2">
                <div class="dm-header-location-wrapper">
                    <span><img src="/images/locationIcon/locationIcon1.png"></span>
                    <span class="align-middle">SAN JOSE</span>
                </div>
            </div>
        </div>
    </div>

    <% include ./body-nav.ejs %>

    <div class="container px-0 mt-4">
        <!--first row -->
        <div class="row mx-0">
            <div class="card dm-restaurant-card col-md-10 px-0">
                <img class="card-img-top dm-restaurant-img" src="<%=restaurant.restaurant_cover_img%>">
                <div class="card-body card-body-adjust">
                    <div class="dm-restaurant-card-title mt-2">
                        <img class="material-icons star-adjust mr-2" src="/images/rtypeHeartIcon/rtypeHeartIcon1.png" alt="heart">
                        <div class="ml-5">
                            <h2 class="dm-restaurant-title"><strong><%= restaurant.restaurant_name %></strong></h2>
                            <div class="">
                                <small class="dm-cuisine-card-review"><%= rstReviews.length%> reviews</small>
                            </div>
                            <h5 class="mt-3 mb-3"><%= restaurant.restaurant_type %></h5>
                            <h5 class="mt-3 mb-3"><%= restaurant.restaurant_addr %></h5>
                            <!--<h5 class="mb-3">Restaurant Type 2</h5>-->
                            <!--<h5 class="mb-3">Restaurant Type 3</h5>-->
                            <!--<h5 class="mb-3">Restaurant Type 4</h5>-->
                        </div>
                        <div class="dm-restaurant-social mr-1">
                            <img class="material-icons mr-2" src="/images/facebookIcon/facebookIcon1.png" alt="facebook">
                            <img class="material-icons mr-2" src="/images/twitterIcon/twitterIcon1.png" alt="twitter">
                            <img class="material-icons mr-2" src="/images/heartIcon/photoIcon/photoIcon1.png" alt="photo">
                            <img class="material-icons mr-2" src="/images/heartIcon/shareIcon/shareIcon1.png" alt="share">
                        </div>
                    </div>
                    <% if(userInfo.user_id) {%>
                        <div class="dm-restaurant-user-action">
                            <button class="btn-sm" id="addToListBtn">
                                <img class="material-icons useraction-adjust mr-2" src="/images/bookmarkIcon/bookmarkIcon1.png" alt="bookmark">
                            </button>
                            
                            <button class="btn-sm" id="writeReviewBtn">
                                <img class="material-icons useraction-adjust mr-2" src="/images/writeviewIcon/writeviewIcon1.png" alt="review">
                            </button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="dm-restaurant-open col-md-2">
                <div id="timer"></div>
                <div class="dm-timer-hour-wrapper">
                    <p id="openhours" class="dm-restaurant-hour"></p>
                </div>
                <div class="dm-restaurant-status">
                    <p id="status"></p>
                </div>
            </div>
        </div>
        <!--second row -->
        <% include ./rst-detail-carousel.ejs %>
        <!--third row-->
        <div class="row mx-0 mt-2">
            <div class="dm-restaurant-reviews col-md-9 px-0">
                <div class="dm-restaurant-reviews-banner">
                    <div class="dm-restaurant-reviews-title">
                        <h1><strong>Reviews</strong></h1>
                    </div>
                    <div class="dm-restaurant-reviews-items">
                        <h6 class="px-2">$$</h6>
                        <h6 class="px-2">genre</h6>
                        <h6 class="px-2">decoration</h6>
                        <h6 class="px-2">service</h6>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-pills mb-3 dm-restaurant-filter" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active reviewtab" data-toggle="pill" href="#all" role="tab" >All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link reviewtab" data-toggle="pill" href="#goodreviews" role="tab">Good Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link reviewtab" data-toggle="pill" href="#badreviews" role="tab">Bad Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link reviewtab" data-toggle="pill" href="#havephotos" role="tab">Have Photos</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <% for (let i = 0; i < rstReviews.length; i++) { %>
                            <% let rstReview = rstReviews[i];%>
                            <div class="card dm-restaurant-review-card">
                                <img class="card-img-top dm-restaurant-user-headpic ml-4" src="<%= rstReview.user_avatar_url ? rstReview.user_avatar_url : "/images/default-avatar.png"%>" alt="Card image cap">
                                <div class="card-body card-body-adjust">
                                    <div class="dm-restaurant-card-title">
                                        <h3 class="mr-4"><strong><a href="<%=`/profile/${rstReview.user_id}`%>"><%=rstReview.user_name%></a></strong></h3>
                                    </div>
                                    <div class="dm-cuisine-card-row">
                                        <h6 class="pr-3 dm-restaurant-card-reviewitem"><small>$$:<%=rstReview.rst_review_price%></small></h6>
                                        <h6 class="pr-3 dm-restaurant-card-reviewitem"><small>genre:<%=rstReview.rst_review_genre%></small></h6>
                                        <h6 class="pr-3 dm-restaurant-card-reviewitem"><small>decoration:<%=rstReview.rst_review_decoration%></small></h6>
                                        <h6 class="pr-3 dm-restaurant-card-reviewitem"><small>service:<%=rstReview.rst_review_service%></small></h6>
                                    </div>
                                    <div class="dm-restaurant-card-row mr-1">
                                        <p style="overflow-wrap: normal"><%=rstReview.rst_review_content%></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="tab-pane fade" id="goodreviews" role="tabpanel">

                    </div>
                    <div class="tab-pane fade" id="badreviews" role="tabpanel">
                        
                    </div>
                    <div class="tab-pane fade" id="havephotos" role="tabpanel">
                        
                    </div>
                </div>
            </div>

            <div class="dm-restaurant-top-lists col-md-3 px-0">
                <div class="dm-restaurant-list-wrapper">
                    <div class="dm-restaurant-list-banner">
                        <h3 class="dm-restaurant-list-title"><strong>Similar Restaurant</strong></h3>
                    </div>
                    <div>
                        <ul class="dm-restaurant-list">
                            <li>Chef Chao's</li>
                            <li>Xiao Nan Guo</li>
                            <li>Lao Beijing</li>
                            <li>Xiao Fei Yang</li>
                            <li>Hai Di Lao</li>
                        </ul>
                    </div>
                </div>
                <div class="dm-restaurant-list-wrapper">
                    <div class="dm-restaurant-list-banner">
                        <h3 class="dm-restaurant-list-title"><strong>You Might Like</strong></h3>
                    </div>
                    <div>
                        <ul class="dm-restaurant-list">
                            <li>Menggu BBQ</li>
                            <li>Tomi Sushi</li>
                            <li>Xinjiang BBQ</li>
                            <li>Xiao Fei Yang</li>
                            <li>Hai Di Lao</li>
                        </ul>
                    </div>
                </div>
                <div class="dm-restaurant-list-wrapper">
                    <div class="dm-restaurant-list-banner">
                        <h3 class="dm-restaurant-list-title"><strong>Mentioned</strong></h3>
                    </div>
                    <div>
                        <ul class="dm-restaurant-list">
                            <li>Best Chinese restaurant</li>
                            <li>Best restaurant</li>
                            <li>Best Asian restaurant</li>
                            <li>My favourite oriental</li>
                            <li>Top restaurant</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dm-footer mt-4 mb-3"><h6>Copyright 2018 Dish Master</h6></div>

    <div id="dialog" title="Dish Master">
        <form action="/restaurants/review" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="rvPrice" id="price" placeholder="input price rating" class="form-control" required>
                </div>
                    <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" name="rvGenre" id="genre" placeholder="input genre rating" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="decoration">Decoration</label>
                    <input type="text" name="rvDecoration" id="decoration" placeholder="input decoration rating" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="service">Service</label>
                    <input type="text" name="rvService" id="service" placeholder="input service rating" class="form-control" required>
                </div>
                    <div class="form-group">
                    <label >Review</label>
                    <textarea type="text" name="rvContent" id="review" class="form-control" required></textarea>
                </div>

                <input type="hidden" name="userId" value="<%=userInfo.user_id%>">
                <input type="hidden" name="restaurantId" value="<%=restaurant.restaurant_id%>">

                <input type="submit" class="btn btn-success mt-2" value="Post Review">
            </fieldset>
        </form>
    </div>

    <div id="rstListDialog" title="Add To List">
        <form method="POST" action="/users/restaurant-lists/new-list/add/<%=restaurant.restaurant_id%>">
            <div class="form-group">
            <label for="newListName">New List Name</label>
            <input type="text" name="newListName" id="inputNewListName" class="form-control">
            <input type="hidden" name="restaurantId" value="<%=restaurant.restaurant_id%>">
            <input type="hidden" name="userId" value="<%=userInfo.user_id%>">
            <input type="submit" class="btn btn-success mt-2" value="Add">
        </form>
        <% if(myRstLists.length > 0) {%>    
            <h3 class="mt-3">Add to my lists: </h3>
            <ul class="mt-1">
               <% for(let r = 0; r < myRstLists.length; r++) {%>
                    <% var myRstList = myRstLists[r];%>
                    <li><a href="<%=`/users/restaurant-lists/${myRstList.rst_list_id}/add/${restaurant.restaurant_id}`%>"><%=myRstList.rst_list_name%></a></li>
               <% }%> 
            </ul>
        <% } %>
    </div>
    <!-- libraries -->
    <% include ./lib-url.ejs %>

    <!-- d3 circular timer -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//goinggas.com/cdn/dashtimer/v0.1/dashtimer.js"></script>
    <script src="//cdn.muicss.com/mui-0.5.1/js/mui.min.js"></script>
    <script src="/scripts/pg-restaurant-detail.js"></script>

    <!-- google map -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA60w7LwV6g-e4R36HfviJ_6Bw0XTSGmpU&callback=myMap"
            type="text/javascript"></script>

</body>


</html>