<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% include ./body-nav.ejs %>
<div class="bg-image"></div>

<div class="bg-text">
  <h2>U.S. No.1 car Selling Website</h2>
  <h1 style="font-size:50px">Lowest Price Guaranteed</h1>
  <p>And You Can Post Your Car For Sale</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9 dm-home-left-panel">
			<div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
				<table class="table2">
					<tr>
					</tr>
                      <tr>
                        <th><img src="/images/home/car1.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car2.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car3.png" alt="Trulli" width="350" height="250"></th>
                      </tr>
                </table>
			</div>
           
        </div>
        <div class="col-lg-3 dm-home-right-panel">
            <!-- login panel -->
            <% if (!userInfo.IndividualID && !userInfo.DealerId) { %>
                <div class="row">
                    <form class="dm-home-login-form" id="homeLoginForm">
                        <div class="form-group mt-4">
                            <label class="control-label"  for="userId">User ID: </label>
                            <input type="text" class="form-control" id="userId"  placeholder="Enter user ID" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label"  for="password">Password: </label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">User Type: </label>
                            <br />
                            <select id="accountType">
                                <option value="individual">Individual</option>
                                <option value="dealer">Dealer</option>
                            </select>
                        </div>
                        <div>
                        <table class="table2" style="width:100%" >
                            <tr>
                            <th> <button id="homeLoginBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5">
                                    Login</button></th>
                            <th><a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5"
                                   href="/register">Sign Up</a></th>
                        </table>
                        <br>
                        <br>
                        </div>
                    </form>
                </div>
            <% } %>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<h2>Cars On Sale From Dealer!</h2>

<table class="table-fill">
  <thead>
  <tr>
    <th>Car ID</th>
    <th>Manufacture</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price Quote</th>
    <th>Option</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <% for(var i = position.dStart; i < position.dStart + 5; i++) {%>
    <tr>
      <td><%=dealerCars[i].CarID%></td>
      <td><%=dealerCars[i].Manufacture%></td>
      <td><%=dealerCars[i].Model%></td>
      <td><%=dealerCars[i].Year%></td>
      <td><%=dealerCars[i].Price%></td>
      <td><button id="<%= dealerCars[i].CarID%>" type="button" class="button"
                  onclick="makeTransactionWithDealer(
                      <%= dealerCars[i].CarID %>,
                      <%= dealerCars[i].DealerId %>,
                      <%= dealerCars[i].Price %>,
                      <%= userInfo.IndividualID ? userInfo.IndividualID : (userInfo.DealerId ? userInfo.DealerId : -1)%>,
                      <%= accountType %>
                  )">Buy</button></td>
    </tr>
    <script>
        function makeTransactionWithDealer(carId, dealerId, price, buyerId, accountType) {
            console.log(carId, dealerId, price, buyerId, accountType);
            if (accountType === 0) { // visitor
                alert("please log in first!");
                return;
            }
            if (accountType === 1) { // dealer
                alert("This app is not designed for dealer-to-dealer transaction");
                return;
            }
            var x = document.getElementById(carId);
            x.innerHTML = "Bought";
            x.disable = true;
            $.post("/addDealerToIndividualTransaction",
                { carId: carId, dealerId: dealerId, price: price, individualId: buyerId }
            )
            .done(function(result) {
                // reload current url
                console.log(result);
                console.log('click success');
            })
            .fail(function(result) {
                var error = result.responseJSON.error;
                if(error) {
                    console.log(error);
                    return;
                }
            });
        }
    </script>
  <% } %>
  <% position.dStart += 5 %>
  </tbody>
</table>
<div>
  
</div>

<br>
<br>
<br>
<div align="center">
<a href="/home/dealerCars/<%= position.dPrev %>" class="previous round">&#8249;</a>
<a href="/home/dealerCars/<%= position.dStart%>" class="next round">&#8250;</a>
</div>
<br>
<br>
<br>

<h2>Cars On Sale From Individual!</h2>

<table class="table-fill">
    <thead>
    <tr>
        <th>Car ID</th>
        <th>Manufacture</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price Quote</th>
        <th>Option</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <% for(var i = position.iStart; i < position.iStart + 5; i++) {%>
    <tr>
        <td><%=individualCars[i].CarID%></td>
        <td><%=individualCars[i].Manufacture%></td>
        <td><%=individualCars[i].Model%></td>
        <td><%=individualCars[i].Year%></td>
        <td><%=individualCars[i].Price%></td>
        <td><button id="<% individualCars[i].CarID%>" type="button" class="button"
                    onclick="makeTransactionWithIndividual(
                        <%= individualCars[i].CarID %>,
                        <%= individualCars[i].IndividualID %>,
                        <%= individualCars[i].Price %>,
                        <%= userInfo.IndividualID ? userInfo.IndividualID : (userInfo.DealerId ? userInfo.DealerId : -1)%>,
                        <%= accountType %>
                    )">Buy</button></td>
    </tr>
    <script>
        function makeTransactionWithIndividual(carId, dealerId, price, buyerId, accountType) {
            console.log(carId, dealerId, price, buyerId, accountType);
            if (accountType === 0) { // visitor
                alert("please log in first!");
                return;
            }
            var x = document.getElementById(carId);
            x.innerHTML = "Bought";
            x.disable = true;
            if (accountType === 1) {
                $.post("/addIndividualToDealerTransaction",
                    {carId: carId, dealerId: dealerId, price: price, individualId: buyerId}
                )
                    .done(function (result) {
                        // reload current url
                        console.log(result);
                        console.log('click success');
                    })
                    .fail(function (result) {
                        var error = result.responseJSON.error;
                        if (error) {
                            console.log(error);
                            return;
                        }
                    });
            } else if (accountType === 2) {
                $.post("/addIndividualToIndividualTransaction",
                    {carId: carId, dealerId: dealerId, price: price, individualId: buyerId}
                )
                    .done(function (result) {
                        // reload current url
                        console.log(result);
                        console.log('click success');
                    })
                    .fail(function (result) {
                        var error = result.responseJSON.error;
                        if (error) {
                            console.log(error);
                            return;
                        }
                    });
            }
        }
    </script>
    <% } %>
    <% position.iStart += 5 %>
    </tbody>
</table>
<div>

</div>

<br>
<br>
<br>
<div align="center">
    <a href="/home/individualCars/<%= position.iPrev %>" class="previous round">&#8249;</a>
    <a href="/home/individualCars/<%= position.iStart%>" class="next round">&#8250;</a>
</div>
<br>
<br>

<br>
<hr>
<div class="bg-image2"></div>
<hr>
<br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software
    only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal
    representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>
<!-- libraries -->
<% include ./lib-url.ejs %>
<script type="text/javascript" src="/scripts/pg-home.js"></script>
</body>


</html>