<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>

<body class="light-text-color">
<% include ./body-nav.ejs %>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/default-avatar.png">
        </div>
        <div class="col-lg-9">
            <div>
                <h3>User Name</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div id="profileTabs">
        <ul>
            <li><a href="#tabs-rst-list">Posted Cars</a></li>
            <li><a href="#tabs-followers">Involved Transactions</a></li>
        </ul>
        <div id="tabs-rst-list">
            <h3>Posted Cars</h3>
            <table class="table1">
                <tr>
                    <th>Car ID</th>
                    <th>Manufacture</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <% postedCars.forEach(function(car) { %>
                    <% if (car.CarID) { %>
                    <tr>
                        <td><%= car.CarID %></td>
                        <td><%= car.Manufacture %></td>
                        <td><%= car.Model %></td>
                        <td><%= car.Year %></td>
                        <td><%= car.Price %></td>
                        <td><a id="editPostButton" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5"
                               href="/edit-post/<%= car.CarID %>">Edit</a></td>
                    </tr>
                    <% } %>
                <% });%>
            </table>
        </div>
        <div id="tabs-followers">
            <h3>Transactions In Progress</h3>
            <table class="table1">
                <tr>
                    <th>Transaction ID</th>
                    <th>DateTime</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <% transactions.forEach(function(transaction) { %>
                    <% if (transaction.TransactionID) { %>
                    <tr>
                        <td><%= transaction.TransactionID %></td>
                        <td><%= transaction.DateTime %></td>
                        <td><%= transaction.Price %></td>
                    </tr>
                    <% } %>
                <% });%>
            </table>
        </div>
    </div>
</div>

<!-- libraries -->
<% include ./lib-url.ejs %>

<script type="text/javascript" src="/scripts/pg-profile.js"></script>
</body>
<br><br><br><br><br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software
    only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal
    representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>

</html>